@theme {
  --font-sans: "Mona Sans", "Hiragino Sans", "Meiryo", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: "Source Serif 4", "Yu Mincho", ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-dot: "DotGothic16", cursive;

  --aspect-golden: 1.618 / 1;
  --aspect-silver: 2.414 / 1;

  --breakpoint-xs: 430px;

  --color-bg: #f7f7f7;
  --color-text: #111;
  --color-main: #ccc;
  --color-main-fg: #ccc;
  --color-accent: #f900bf;
  --color-sub1: #f1f1f1;
  --color-sub2: #c7c7c7;
}
