/* @import "./font.css"; */
@import "./vendor/sonner.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --c-text: #1e1e1e;
    --c-bg: #f7f7f7;
    /* --c-main: #ffe614; */
  }

  .dark {
    --c-text: #f7f7f7;
    --c-bg: #1e1e1e;
  }

  html,
  body {
    @apply min-h-screen;
  }

  .content {
    background: var(--c-bg);
    color: var(--c-text);
  }

  .text-muted {
    @apply text-stone-950/50 dark:text-white/50;
  }

  .bg-muted {
    @apply bg-stone-950/20 dark:bg-white/20;
  }

  .border-normal {
    @apply border-black dark:border-white;
  }

  .border-muted {
    @apply border-stone-950/30 dark:border-white/30;
  }

  body {
    @apply min-h-screen;

    &.default {
      color: var(--c-text);
      background: var(--c-bg);
    }
  }

  .wrapper {
    @apply mx-auto max-w-screen-xs px-6;
  }

  .wrapper-app {
    @apply wrapper pt-20 pb-28;
  }
}

@layer components {
  input,
  select,
  button[role="combobox"] {
    @apply bg-white text-black dark:text-white dark:bg-stone-700 rounded-xl px-4 py-2 text-lg focus:border-main outline-none min-h-12;

    &:readonly {
      @apply cursor-pointer;
    }
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }

  label {
    @apply font-bold pb-1.5 px-1;
  }

  .btn {
    @apply transition-all ease-in-out delay-75 duration-300 rounded-2xl hover:rounded-lg px-4 py-2 text-lg font-bold flex items-center justify-center min-h-12 hover:bg-opacity-90;
  }

  .btn-main {
    @apply btn bg-main shadow-gray-500/10 text-main-fg;
  }

  .btn-sub {
    @apply btn bg-sub2 shadow-gray-500/10 text-main-fg;
  }
}

@layer utilities {
  .shine-overlay {
    position: relative;
    overflow: hidden;

    &:hover .shine {
      display: block;
    }
  }
  .shine {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    pointer-events: none;
    z-index: 3;
    opacity: 0;
    transform: skew(30deg);
    animation: shine 0.75s linear 1;
  }

  @keyframes shine {
    0% {
      left: -50%;
      opacity: 0;
    }
    50% {
      left: 25%;
      opacity: 0.5;
    }
    100% {
      left: 100%;
      opacity: 0;
    }
  }
}
